# Configuración de base de datos
DB_USER=admin
DB_PASSWORD=adminpassword
DB_HOST=localhost
DB_PORT=5432
DB_NAME=cotizador_db

# Configuración de Servidor de Correos (SMTP) para enviar cotizaciones en segundo plano
# Si usas tu correo personal/corporativo de Gmail, necesitas generar una "Contraseña de Aplicación" en Google.
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_contraseña_de_aplicacion
SMTP_FROM='"Ventas Tornometal" <tu_correo@gmail.com>'
